<!--Shows sample square of each project-->

{% extends "base.html" %}

{% block page_content %}
<h1 class="title text-center">Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2 project-card">
            {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
                {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-tech">{{ project.technology }}</p>
                <a class="" href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}